* {
	font-family: 'Press Start 2P', cursive;
  box-sizing: border-box;
  color: white;
  background-color: black;
  border-radius: 5px;
  border: 1px solid white;
}

html {
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 5px;
  width: 150px;
  height: 50px;
}

button:disabled {
  border: 1px solid darkgray;
  color: darkgray;
  cursor: default;
}

#title {
  font-size: 48px;
  text-align: center;
  margin: 50px;
}

#game-settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#game-settings * {
  margin: 5px;
}

#game-options {
  display: flex;
  justify-content: space-between;
}

#game-options * {
  margin-left: 20px;
  margin-right: 20px;
}

#map-size, #num-players, #cpu-difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-buttons {
  display: flex;
  align-items: center;
}

/* #game-window {
  display:flex;
} */

canvas {
  border-radius: 5px;
}

#player-stats {
  display: flex;
  
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

.player {
  margin: 5px;
  padding: 15px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: unset;
  width: 200px;
}

.player * {
  font-size: 12px;
  margin-top: 1px;
}

.player-name {
  text-align: center;
}

#game-toggles {
  display: flex;
  align-items: center;
  margin: 20px;
}

#game-toggles.hidden {
  display: none;
}

#game-toggles * {
  margin: 5px;
}

#description {
  width: 60%;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
}

#footer {
  display: flex;
}

#footer * {
  margin: 10px;
  border: none;
  font-size: 48px;
}

.green {
  color: #91EB8F;
}

.hidden {
  display: none;
}